<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Pokemon</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


<div class="container">

  <div *ngIf="!showSelected" class="poke-list">

    <div *ngIf="loaded === false; else pokeCards" class="not-loaded">
      <mat-spinner *ngFor="let poke of starterPokemon"></mat-spinner>
    </div>

    <ng-template #pokeCards>
      <a (click)="openDialog(poke)" matRipple [matRippleRadius]="radius" [matRippleColor]="color" *ngFor="let poke of pokelist" _ngcontent-uvf-c136="" class="docs-component-category-list-item ng-star-inserted">
        <div _ngcontent-uvf-c136="" class="docs-component-category-list-card"><img _ngcontent-uvf-c136="" loading="lazy"
            alt="" role="presentation" aria-hidden="true"
            class="docs-component-category-list-card-image-wrapper ng-star-inserted"
            src="{{poke.sprites.front_default}}">
          <!---->
          <div _ngcontent-uvf-c136="" class="docs-component-category-list-card-title">{{poke.name}}</div>
          <div _ngcontent-uvf-c136="" class="docs-component-category-list-card-summary">
            id: {{poke.id}} <br>
            height: {{poke.height}}<br>
            weight: {{poke.weight}}<br>
            types: {{poke.types[0].type.name}}
          </div>
        </div>
      </a>
    </ng-template>

  </div>

  <!-- <mat-divider></mat-divider> -->

  <div *ngIf="showSelected" class="poke-center-container">
    <a  matRipple [matRippleRadius]="radius" [matRippleColor]="color" _ngcontent-uvf-c136="" class="docs-component-category-list-item ng-star-inserted">
      <div _ngcontent-uvf-c136="" class="docs-component-category-list-card"><img _ngcontent-uvf-c136="" loading="lazy"
          alt="" role="presentation" aria-hidden="true"
          class="docs-component-category-list-card-image-wrapper ng-star-inserted"
          src="{{currPoke.sprites.front_default}}">
        <!---->
        <div _ngcontent-uvf-c136="" class="docs-component-category-list-card-title">{{currPoke.name}}</div>
        <div _ngcontent-uvf-c136="" class="docs-component-category-list-card-summary">
          id: {{currPoke.id}} <br>
          height: {{currPoke.height}}<br>
          weight: {{currPoke.weight}}<br>
          types: {{currPoke.types[0].type.name}}
        </div>
      </div>
    </a>
  </div>

</div>